<a href="https://colab.research.google.com/github/Jegan-codes/Guvi-1/blob/main/Jegan's_Worksheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from IPython.display import Image
display(Image(url='https://miro.medium.com/v2/resize:fit:1400/1*cLTFQXZbzxZIdVXSXhGM7g.gif'))

# **09-03-2025**

In [ ]:
#THIS CODE IS GOING TO GET USERNAME AND SAVE IT => COMMENTING IN PYTHON

In [ ]:
#DATA TYPES IN PYTHON

#1.ALPHABETS => TEXT => STRING (str) (e.g 'vasanth',"vasanth","""multiple lines""",'''multiple lines''')
#2.NUMBERS
    # - whole numbers => integer (int) (e.g 60, 65)
    # - decimal numbers => float (float) (e.g 60.54, 65.54)
#3.BOOLEAN => TRUE OR FALSE => BOOLEAN (bool) (e.g True, False)
#4.NONE => NULL => NONE (NoneType) (e.g None)
#5. Complex => 1+3K ; 2+10J
#integer
#float
#string
#boolean
#none

In [ ]:
a = "Jegan "
a  # call a function

'Jegan '

In [ ]:
type(a) # uses to find the datatype of an element

str

In [ ]:
b = 26
b

26

In [ ]:
type(b)

int

In [ ]:
c = 5.11
c

5.11

In [ ]:
type(c)

float

In [ ]:
type(1)

int

In [ ]:
type(True)

bool

In [ ]:
type(None)

NoneType

In [ ]:
type(a) , type(b)

(str, int)

In [ ]:
com = "2+5k" # complex no.
com

'2+5k'

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
#capitalize -->will capitalize the first letter
Name = " Sri Varshini . M"
Name.capitalize()

' sri varshini . m'

In [ ]:
Name = " Sri Varshini . M"
print(Name.capitalize())

 sri varshini . m

In [ ]:
Girl = "divya m"
print(Girl.capitalize())

Divya m

In [ ]:
Girl = "divya m"
Girl.capitalize()

'Divya m'

In [ ]:
#title -->will capitalize the first letter of each word
Name = "Sri Varshini . M"
print(Name.title())

Sri Varshini . M

In [ ]:
School = "velaMMmal matric school is in madurai city"
print(School.title())

Velammmal Matric School Is In Madurai City

In [ ]:
#upper -->will convert string into upper case ( All Letters)
School = "VelaMMmal Matric"
print(School.upper())

VELAMMMAL MATRIC

In [ ]:
#lower -->will convert string into lower case ( All Letters )
Bike = " Unicorn IS THE BEST COMMUTER FROM HONDA"
print(Bike.lower())

 unicorn is the best commuter from honda

In [ ]:
#casefold -->will convert the string into lower case
Bike_2 = " Your BIKE was aMazing Dood "
print(Bike_2.casefold())

 your bike was amazing dood

In [ ]:
#swapcase -->will convert string into opposite case
Manager = "Lets complete the task before the DEADLINE"
print(Manager.swapcase())

lETS COMPLETE THE TASK BEFORE THE deadline

In [ ]:
#count -->will tell you the no.of times an element present in a string
Manager = "Lets complete the task before the DEADLINE"
print(Manager.count("a"))
print(Manager.count('e'))
print(Manager.count("E")) # Capital & Small lettets are counted separetely.

1
7
2

In [ ]:
#index -->will return the index of the first occurence of the elements
print(Manager.index("t"))
print(Manager.index("o"))
print(Manager.index("D"))

2
6
34

In [ ]:
#join -->will join all the elements of a list in a string
fullname = ["Jegan","Muthu"]
print(" ".join(fullname))
# joins 2 str data into a single str data

Jegan Muthu

In [ ]:
Data = [ "Madurai", "is", "Temple", "city"]
print(" 2 ".join(Data))

Madurai 2 is 2 Temple 2 city

In [ ]:
#split -->will split the string into list
Manager = "Lets complete the task before the DEADLINE"
print(Manager.split())

['Lets', 'complete', 'the', 'task', 'before', 'the', 'DEADLINE']

In [ ]:
#splitlines -->will split the string into list with new line
Manager = "Lets complete the task\nbefore the DEADLINE"
print(Manager.splitlines()) # \n --> uses to split into seperate strings

['Lets complete the task', 'before the DEADLINE']

In [ ]:
#splitlines -->will split the string into list with new line
a = 'hello\nworld'
print(a.splitlines())

['hello', 'world']

In [ ]:
#split -->will split the string into list
a = 'hello world'
print(a.split())

['hello', 'world']

In [ ]:
#replace -->will replace the old string with new string
Owner =" U can take the leave for today only "
print(Owner.replace("today", "2days"))

 U can take the leave for 2days only

In [ ]:
#startswith -->will tell you if the string starts with specific string
Master = "Do workout after ur warmup session"
print(Master.startswith('aftee'))
print(Master.startswith('Do'))

False
True

In [ ]:
#endswith -->will tell you if the string ends with specific string
print(Master.endswith('after'))
print(Master.endswith('session'))

False
True

In [ ]:
#isupper -->will tell you if the string is in upper case
phone = "CHARGING - 39%" # -- Full str must be in caps
print(phone.isupper())
Darls = "hi dev"
print(Darls.islower()) # -- full str must be in small
Owner = "c o m e"
print(Owner.isspace()) # -- return if there is an empty space
kart = " "
print(kart.isspace())

True
True
False
True

In [ ]:
#strip -->will remove the spaces in beginning and ending
Divs = "  lets   move      on     "
print(Divs.strip())

lets   move      on

In [ ]:
#isalpha -->will tell you if the string contains only alphabets
#Example of characters that are not alphabet letters: (space)!#%&? etc.
context = "event is starting now"
print(context.isalpha())

False

In [ ]:
context1 = "eventisstartingnow"
print(context1.isalpha())

True

In [ ]:
#isdigit -->will tell you if the string contains only digits
sim = "123456"
print(sim.isdigit())
pw = "Itsme324"
print(pw.isdigit())

True
False

In [ ]:
#isalnum -->will tell you if the string contains only alphabets and digits
#Example of characters that are not alphanumeric: (space)!#%&? etc.
print(sim.isalnum())
print(pw.isalnum())

True
True

In [ ]:
#rstrip -->will remove the right spaces
Divs = "  lets   move      on     "
print(Divs.rstrip())

  lets   move      on

In [ ]:
#lstrip -->will remove the left spaces
Divs = "  lets   move      on     "
print(Divs.lstrip())

lets   move      on

# **15-03-2025**

In [ ]:
# Variables - Memory storage device or cell

In [ ]:
a = "Jeganmuthu"   # (a) variable , (=)  assigning operator , (Jeganmuthu) - data

In [ ]:
print(a) # call a function to print

Jeganmuthu

In [ ]:
#constrains of creating a variable

#1. variable names should not start with numbers (e.g 1a)
    #optionaly we can define alpha numeric (e.g a1 , number1)
#2. variable names should not have any special characters
#3. variable names should not be reserved keywords
#4. variables of python are case sensitive (e.g a , A)
#5. variables should have meaningfull aspects off data that it has (optional)
#6. do not have spaces in variable names (e.g a b c )
    #optionally use underscore (e.g a_b_c)
    #camel case (e.g aBc) -> captialize in middle
    #pascal case (e.g ABc) -> captialize in each word begining
    #snake case (e.g a_b_c) -> connecting with _ at every word

In [ ]:
name1 = "varshini" # 1name --> numericalpha variable not allowed
name1

'varshini'

In [ ]:
School = "SBOA"
School

'SBOA'

In [ ]:
# Mail@ID = "Jeganmuthu123@hmail.com" --> Special Char not allowed

In [ ]:
Mail_ID = "Jeganmuthu123@hmail.com" # only '_' allowed not spaces or Special char
Mail_ID

'Jeganmuthu123@hmail.com'

In [ ]:
age = 26
age

26

In [ ]:
age1 = input()

30

In [ ]:
age_2 = input() # always give the data in cell after the execution.

25

In [ ]:
city = input() # bydefault it give output as String

Hosur

In [ ]:
type(city)

str

In [ ]:
user_name = input()
password = input()
DOB = input()

Jegan
Jegan@19
08 05 1999

In [ ]:
Password = input() # it is wrong
DOB = input() # bcz, interface is not visible to client, while executing
user_name = input() # always use correct interface

Jegan
Jegan@19
08 May 1999

In [ ]:
# correct format
user_name = input("Enter your Username : ")
Password = input("Enter your Password : ")
DOB = input("Enter your DOB : ")

Enter your Username : Jeganmuthu M
Enter your Password : Jegan@1999
Enter your DOB : 08 May 1999

In [ ]:
user_name = input("Enter your Username : ")
Password = input("Enter your Password : ")
DOB = input("Enter your DOB : ")

Enter your Username : sri varshini
Enter your Password : 8508
Enter your DOB : 01 03 2009

**Type Conversion**

In [ ]:
# 1. Explicit Type conversion (Convert one datatype to other)
number = 35         # number to string
word=str(number)
print(word)
type(word)

35

str

In [ ]:
value = "3.23"   # string to float
ex = float(value)
print(ex)
type(ex)

3.23

float

In [ ]:
# Implicit type conversion: when performing arithmetic operations, Python automatically converts operands to a common type if needed.
total = 10 + 57.56
print(total)     # int and float addition
type(total)

67.56

float

In [ ]:
# String concatenation with integer
name =" Jegan "
ID = str(85)              # concatenate only str not int, so use str
combine = name + ID
print(combine)

 Jegan 85

**Data Structures**

In [ ]:
#Data Structures

#1. List -> []
#2. Tuple -> ()
#3. Dictionary -> {}
#4. Set -> {}

### Tuples

Tuples are created using parentheses `( )`
  *   Tuples can contain any type of data, including other tuples.
  -Example : a = (1,'True','John',2.8,('age','name'))
  *   Tuples are ordered, meaning that the elements in a tuple have a specific sequence.
  -Example : a = (1,'True','John',2.8) #INDEX[0,1,2,3]
  *   Tuples are immutable (Non-changeable), meaning that you cannot change the elements in a tuple once it is created.(i.e : it doesn't has functions like remove,pop,delete)
  * Tuples allows duplicate values

In [ ]:
#TO GET LIST OF ALL BUILT-IN FUNCTIONS
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
#COUNT --> will tell you the no.of times an element present in that tuple
a = (1,2,'sam',12.6,2,'george','sam',2)  #here 2 presents 3 times and 'sam' presents 2 times
print(a.count(2))
print(a.count('sam'))

3
2

In [ ]:
bag = ('pen','box','eraser','pen','pencil','pen','box')
print(bag.count('pen'))
print(bag.count("box")) # we can give either 1 or 2 quote to represent the string

3
2

In [ ]:
#INDEX --> will return the index of the first occurence of the elements
print(bag.index('pen'))
print(bag.index('eraser'))

0
2

In [ ]:
print(bag[3]) # we can fetch any element from tuple by using indexing.
print(bag[-3])  # Negative indexing

pen
pencil

In [ ]:
# 'len' function - use to find the length of a tuple
print(len(bag))

7

In [ ]:
box = ('eraser',)  # to represend a single item as tuple , add a comma
print(type(box ))   # otherwise it is taken as str

<class 'tuple'>

In [ ]:
print(bag)

('pen', 'box', 'eraser', 'pen', 'pencil', 'pen', 'box')

In [ ]:
print(bag[1:3]) # gives elements in between the range, consider the first range, leaving the last
print(bag[:3])  # fetch elements from start to given range
print(bag[3:])  # fetch elements from given range to end
print(bag[-5:-2])  # same as follows for negative indexing

('box', 'eraser')
('pen', 'box', 'eraser')
('pen', 'pencil', 'pen', 'box')
('eraser', 'pen', 'pencil')

In [ ]:
if "pencil" in bag:
  print("yes, the pencil is in the bag")
if "sharpener" in bag:
  print("yes, the sharpener is in the bag")
else:
    print("no, the sharpener is not in the bag")

yes, the pencil is in the bag
no, the sharpener is not in the bag

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)
# tuple is unchangeable; but we can convert it into list and makes changes whatever we need
# and convert it into again as a tuple.

('apple', 'kiwi', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
thistuple
# del thistuple # we deleted the tuple

('apple', 'banana', 'cherry', 'orange')

In [ ]:
print( bag + thistuple ) # adding two tuples into a single

('pen', 'box', 'eraser', 'pen', 'pencil', 'pen', 'box', 'apple', 'banana', 'cherry', 'orange')

In [ ]:
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
bag

('pen', 'box', 'eraser', 'pen', 'pencil', 'pen', 'box')

In [ ]:
bag1 = ('pen', 'box', 'eraser')   # unpacking the tuple by allocate the variables.
( ram, ravi, dev) = bag1
print(ram)
print(ravi)
print(dev)

pen
box
eraser

In [ ]:
( sri, var, shi, ni) = bag   # if elements number is greater than assigning variables
print(sri)
print(var)
print(shi)
print(ni)

ValueError: too many values to unpack (expected 4)

In [ ]:
( sri, var, shi, *ni) = bag   # use * asterick for n numbers of elements to be assign as lists
print(sri)
print(var)
print(shi)
print(ni)

pen
box
eraser
['pen', 'pencil', 'pen', 'box']

In [ ]:
( sri, var, *shi, ni) = bag   # if * is uses in middle of variable , other than the elements
print(sri)                 # for those lasts variable, the others the assigned in the lists
print(var)
print(shi)
print(ni)

pen
box
['eraser', 'pen', 'pencil', 'pen']
box

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [ ]:
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [ ]:
bag

('pen', 'box', 'eraser', 'pen', 'pencil', 'pen', 'box')

In [ ]:
bag1

('pen', 'box', 'eraser')

In [ ]:
bag + bag1

('pen', 'box', 'eraser', 'pen', 'pencil', 'pen', 'box', 'pen', 'box', 'eraser')

In [ ]:
bag*bag1 # cat use multiplication between 2 tuple

TypeError: can't multiply sequence by non-int of type 'tuple'

In [ ]:
bag2 = bag1*2  # multiply the contents by given no of time
bag2

('pen', 'box', 'eraser', 'pen', 'box', 'eraser')

In [ ]:
bag3 = bag1*3
bag3

('pen', 'box', 'eraser', 'pen', 'box', 'eraser', 'pen', 'box', 'eraser')

# **16-03-2025**

### Lists
*   Lists are created using square brackets `[ ]`
  *   Lists can contain any type of data, including other lists.
  -Example : a = [1,'True','John',2.8,['age','name']]
  *   Lists are ordered, meaning that the elements in a list have a specific sequence.
  -Example : a = [1,'True','John',2.8] #INDEX[0,1,2,3]
  *   Lists are mutable, meaning that you can change the elements in a list after it is created.(i.e : it has some functions like pop,remove)

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
a = ['ram', 2, 'dev', 3, 'mdu', True , 1, 0 , False]
b = [10, 9, 8, 7, 6]
c= ['hat', 'cow']

In [ ]:
a.append('Joe')    # add the element at last
a

['ram', 2, 'dev', 3, 'mdu', True, 1, 0, False, 'Joe']

In [ ]:
c.clear()       # clears all the elements in the list and makes empty
print (c)
print(b)

[]
[10, 9, 8, 7, 6]

In [ ]:
print(a.count(1)) # true counts as 1 ; false as 0
print(a.count(0))
print(a.count('dev'))

2
2
1

In [ ]:
#COPY -->This will copy the list elemets to new list & any change in new list will not affect old list
a = ['ram', 2, 'dev', 3, 'mdu', True , 1, 0 , False]
b = a.copy()
print(a)
print(b)

['ram', 2, 'dev', 3, 'mdu', True, 1, 0, False]
['ram', 2, 'dev', 3, 'mdu', True, 1, 0, False]

In [ ]:
b.append('sri')
print(a)
print(b)

['ram', 2, 'dev', 3, 'mdu', True, 1, 0, False]
[10, 9, 8, 7, 'sri']

In [ ]:
#EXTEND -->This will add an list of elements to an empty or existing list
a.extend(b)
print(a)

['ram', 2, 'dev', 3, 'mdu', True, 1, 0, False, 'ram', 2, 'dev', 3, 'mdu', True, 1, 0, False, 'sri']

In [ ]:
thislist = ["apple", "banana", "cherry"] #you can add any iterable object (tuples, sets, dictionaries etc.).
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [ ]:
print(a)

['ram', 2, 'dev', 3, 'mdu', True, 1, 0, False, 'ram', 2, 'dev', 3, 'mdu', True, 1, 0, False, 'sri']

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)                                # two times brackets make the tuples to list

['apple', 'banana', 'cherry']

In [ ]:
#INDEX -->This will return the position of specific element in a list
a.index('dev')

2

In [ ]:
things = ['blanket','pillow','milk']
things[1]='beer'
print(things)        # we can add element by using the indexing

['blanket', 'beer', 'milk']

In [ ]:
a[-6]

'mdu'

In [ ]:
#INSERT -->This will insert the element in a list in a specific position,gives the rest of the elements
#SYNTAX : (position,element)
c.insert(4,'Jegan')
print(c)

['Jegan', 'cow', 'hat', 'Jegan']

In [ ]:
c.insert(6,'Jegan')
print(c)

['hat', 'cow', 'Jegan']

In [ ]:
things.insert(1, 'Jegan')
print(things)

['blanket', 'Jegan', 'beer', 'milk']

In [ ]:
#POP -->This will remove or popout the last element in a list
new = c.pop()
print(new)
new1 = b.pop()
print(new1)

Jegan
sri

In [ ]:
drama = ['blanket', 'Jegan', 'beer', 'milk']  # if we use index inside the pop
drama.pop(2)                                  # particular element is removed
print(drama)

['blanket', 'Jegan', 'milk']

In [ ]:
drama = ['blanket', 'Jegan', 'beer', 'milk']  # del func use to delete the element
del drama [1]                                  # by using the indexing
print(drama)

['blanket', 'beer', 'milk']

In [ ]:
#REMOVE -->This will remove the specific element and in order (first occurrance)
c.remove('Jegan')
print(c)

['hat', 'cow']

In [ ]:
c = ['hat','cow','Jegan','Jegan','cow']
c.remove('cow')
print(c)

['hat', 'Jegan', 'Jegan', 'cow']

In [ ]:
#REVERSE -->This will reverse the elements in a list
c.reverse()
print(c)

['cow', 'Jegan', 'Jegan', 'hat']

In [ ]:
#SORT -->This will sort the list in
#Asending order
c=['Jegan', 'cow', 'hat']
c.sort()
print(c)

['Jegan', 'cow', 'hat']

In [ ]:
c.sort(reverse=True) # Descending order
print(c)

['hat', 'cow', 'Jegan']

In [ ]:
num = [8,45,7,54,5,962,6542]
num.sort()
print(num)

[5, 7, 8, 45, 54, 962, 6542]

In [ ]:
num.sort(reverse=True)
print(num)

[6542, 962, 54, 45, 8, 7, 5]

In [ ]:
print(len(a))
print(len(num))

9
7

### SET

  *   Sets are created using curly braces `{ }`
  *   Sets can contain any type of data, including other sets.
  -Example : a = {1,'True','John',2.8,{'age','name'}}
  *   Sets are unordered, meaning that the elements in a set do not have a specific sequence.
  *   Sets are mutable, meaning that you can add or remove elements from a set after it is created.
  *   Sets are often used when you want to store a collection of unique items.(i.e : store only `unique` elements

In [ ]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
shop = {'lap','mouse',['pen','pencil'],'eraser'} # set cannot hold list, tuples.

TypeError: unhashable type: 'list'

In [ ]:
a = {1,2,3,4,5,True,'men','women',10.78,5,2,(1,2,3,4),9}

In [ ]:
Store = set(("lap","Mouse",16, 32, "monitor"))
print(Store)

{32, 'lap', 16, 'Mouse', 'monitor'}

In [ ]:
type(Store)

set

In [ ]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'banana', 'apple'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [ ]:
thisset = {"apple", "banana", "cherry"}

del thisset

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'cherry', 'google', 'banana', 'microsoft'}

In [ ]:
Store={32, 'lap', 16, 'Mouse', 'monitor'}
labour = {'lap', 32, 64, 'Monitor','RAM'}

In [ ]:
Store.add('tablet')   # add the element in last
Store

{16, 32, 'Mouse', 'lap', 'monitor', 'tablet'}

In [ ]:
Store.clear()      # clear -- gives the empty set with no elements
Store

set()

In [ ]:
Store1 = {16, 32, 'Mouse', 'lap', 'monitor', 'tablet','ipod'}

In [ ]:
Store2 = Store1.copy()      # copy the elements in set1 and paste into new set
Store2

{16, 32, 'Mouse', 'ipod', 'lap', 'monitor', 'tablet'}

In [ ]:
result_diff = Store1.difference(labour) # gives differenced element from set1 not avail in set2
result_diff

{16, 'Mouse', 'ipod', 'monitor', 'tablet'}

In [ ]:
Store1 = {16, 32, 'Mouse', 'lap', 'monitor', 'tablet','ipod'}
labour = {'lap', 32, 64, 'Monitor','RAM'}
labour.difference_update(Store1)
labour     # gives differenced elements update in set1

{64, 'Monitor', 'RAM'}

In [ ]:
Store1.discard(32)    # delete the particular item from set
Store1

{16, 'Mouse', 'ipod', 'lap', 'monitor', 'tablet'}

In [ ]:
Store1 = {16, 32, 'Mouse', 'lap', 'monitor', 'tablet','ipod'}
labour = {'lap', 32, 64, 'Monitor','RAM'}
Store1.intersection(labour)  # gives the common elements in both sets

{32, 'lap'}

In [ ]:
Store1 = {16, 32, 'Mouse', 'lap', 'monitor', 'tablet','ipod'}
labour = {'lap', 32, 64, 'Monitor','RAM'}
Store1.intersection_update(labour)  # gives the common elements in both sets and update in set1
Store1

{32, 'lap'}

In [ ]:
Store1 = {16, 32, 'Mouse', 'lap', 'Monitor','ipod'}
Store2 ={16, 32, 'Mouse', 'lap', 'Monitor','ipod'}
print(Store1.isdisjoint(Store2))         #Returns True if the sets have no common elements.
                                       #Returns False if there is at least one common element.

False

In [ ]:
school = {'student', 'teacher','HM'}
print(school.isdisjoint(Store1))

True

In [ ]:
#ISSUBSET -->This will check the set1 is subset of set2(i.e set1 elements are in set2) and return 'Booleon' value
Store1 = {16, 32, 'Mouse', 'lap', 'Monitor', 'tablet','ipod','RAM',64}
labour = {'lap', 32, 64, 'Monitor','RAM'}
print(labour.issubset(Store1))     # all element in labour is available in store1

True

In [ ]:
Store1 = {16, 32, 'Mouse', 'lap', 'Monitor', 'tablet','ipod','RAM',64}
labour = {'lap', 32, 64, 'Monitor','RAM'}
print(Store1.issubset(labour))    # all element is store1 is not fully in labour

False

In [ ]:
Store1 = {16, 32, 'Mouse', 'lap', 'Monitor', 'tablet','ipod','RAM',64}
mani = {'lap', 32, 64, 'Monitor','RAM'}
print(mani.issuperset(Store1))      # all elements in Store1 is not in mani

False

In [ ]:
Store1 = {16, 32, 'Mouse', 'lap', 'Monitor', 'tablet','ipod','RAM',64}
mani = {'lap', 32, 64, 'Monitor','RAM'}
print(Store1.issuperset(mani))    # all elements in mani is available in Store1

True

In [ ]:
print(mani.pop())      # pop function remove any element from the set , bcz sets are unordered
print(mani)

64
{'RAM', 'lap', 'Monitor'}

In [ ]:
print(Store1.remove('lap'))
print(Store1)

None
{32, 64, 'RAM', 'ipod', 'Monitor', 'tablet', 16, 'Mouse'}

In [ ]:
#SYMMETRIC_DIFFRENCE -->this will remove similar elements in both sets and returns distinct elements
Store1 = {16, 32, 'Mouse', 'lap', 'Monitor', 'tablet','ipod','RAM',64}
labour = {'lap', 32, 64, 'Monitor','RAM','Wrencher','align key','switch'}
balance = Store1.symmetric_difference(labour)
print(balance)

{'ipod', 'switch', 'Wrencher', 'tablet', 16, 'Mouse', 'align key'}

In [ ]:
#SYMMETRIC_DIFFRENCE_UPDATE -->Remove similar elements and return distinct and update to original set
Store1 = {16, 32, 'Mouse', 'lap', 'Monitor', 'tablet','ipod','RAM',64}
labour = {'lap', 32, 64, 'Monitor','RAM','Wrencher','align key','switch'}
print(Store1.symmetric_difference_update(labour))
Store1

None

{16, 'Mouse', 'Wrencher', 'align key', 'ipod', 'switch', 'tablet'}

In [ ]:
#UNION -->This will join all the elements in set1 & set2 and returns distinct elements ( A U B)
Store1 = {16, 32, 'Mouse', 'lap', 'Monitor', 'tablet','ipod','RAM',64}
labour = {'lap', 32, 64, 'Monitor','RAM','Wrencher','align key','switch'}
needy = Store1.union(labour)
print(needy)

{32, 64, 'RAM', 'lap', 'ipod', 'switch', 'Monitor', 'Wrencher', 'tablet', 16, 'Mouse', 'align key'}

In [ ]:
#UPDATE -->this will add all the elements of set2 to set1 (only distinct)
Store1 = {16, 32, 'Mouse', 'lap', 'Monitor', 'tablet','ipod','RAM',64}
labour = {'lap', 32, 64, 'Monitor','RAM','Wrencher','align key','switch'}
Store1.update(labour)
print(Store1)

{32, 64, 'RAM', 'lap', 'ipod', 'switch', 'Monitor', 'Wrencher', 'tablet', 16, 'Mouse', 'align key'}

## Dictionaries

*   Dictionaries are created using curly braces `{ KEY : VALUE }`
  *   Dictionaries can contain any type of data as keys and values.
  -Example : a = {"name": "John", "age": 30, "gender": "male"}
  *   Dictionary are accessed using 'KEY's
  -Example : print(a['name']) --> "John"
  *   Dictionaries are unordered, meaning that the elements in a dictionary do not have a specific sequence.
  *   Dictionaries are mutable, meaning that you can add, remove, or change key-value pairs after a dictionary is created.

In [ ]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
type(thisdict)

dict

In [ ]:
hisdict = dict(name = "John", age = 36, country = "Norway")
print(hisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [ ]:
print(len(thisdict))

3

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}                         # Add a new item to the original dictionary, and see that the keys list gets updated as well

x = car.keys()

print(x)
car["color"] = "white"

print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [ ]:
# Make a change in the original dictionary, and see that the values list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x)
car["year"] = 2020

print(x)

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [ ]:
office = { "Repoting" : "Jegan",
            "Reconciliation" : "Madhan",
            "Api Test" : "Rishi"}
type(office)

dict

In [ ]:
office.clear()     # clear the elements in the dict
print(office)

{}

In [ ]:
office = { "Repoting" : "Jegan",
            "Reconciliation" : "Madhan",
            "Api Test" : "Rishi"}
office2 = office.copy()
print(office)
print(office2)

{'Repoting': 'Jegan', 'Reconciliation': 'Madhan', 'Api Test': 'Rishi'}
{'Repoting': 'Jegan', 'Reconciliation': 'Madhan', 'Api Test': 'Rishi'}

In [ ]:
#FROMKEYS -->function creates a new dictionary with the specified keys and values. If no value is specified, the default value is None.
child = ['siva', 'nithi', 'cutie']
snack = ['ice','corn','sweets']
child_snack = dict.fromkeys(child,snack)
print(child_snack)

{'siva': ['ice', 'corn', 'sweets'], 'nithi': ['ice', 'corn', 'sweets'], 'cutie': ['ice', 'corn', 'sweets']}

In [ ]:
child = ['siva', 'nithi', 'cutie']
snack = ['ice','corn','sweets']
child_snack = dict.fromkeys(snack,child)
print(child_snack)

{'ice': ['siva', 'nithi', 'cutie'], 'corn': ['siva', 'nithi', 'cutie'], 'sweets': ['siva', 'nithi', 'cutie']}

In [ ]:
from types import NoneType
child = ['siva', 'nithi', 'cutie']
snack = 0
child_snack = dict.fromkeys(child,snack)
print(child_snack)

{'siva': 0, 'nithi': 0, 'cutie': 0}

In [ ]:
#GET -->will get specific key value
office = { "Repoting" : "Jegan",
            "Reconciliation" : "Madhan",
            "Api Test" : "Rishi"}
print(office.get("Api Test"))

Rishi

In [ ]:
#ITEMS -->Will returns the list of key value pair whole dictionary
print(office.items())

dict_items([('Repoting', 'Jegan'), ('Reconciliation', 'Madhan'), ('Api Test', 'Rishi')])

In [ ]:
#KEYS --> Will return the list of 'key's of whole dictionary
print(office.keys())

dict_keys(['Repoting', 'Reconciliation', 'Api Test'])

In [ ]:
#POP -->will remove the specific elements of key value pair
print(office.pop('Reconciliation'))

Madhan

In [ ]:
print(office)

{'Repoting': 'Jegan', 'Api Test': 'Rishi'}

In [ ]:
#POPITEM --> will remove the last element of the dictionary
office = { "Repoting" : "Jegan",
            "Reconciliation" : "Madhan",
            "Api Test" : "Rishi"}
print(office.popitem())

('Api Test', 'Rishi')

In [ ]:
#SETDEFAULT -->function returns the value associated with the specified key. If the key does not exist, it inserts the key with the specified value and returns the value.
office = { "Repoting" : "Jegan",
            "Reconciliation" : "Madhan",
            "Api Test" : "Rishi"}
print(office.setdefault('Data' , 'Venkat'))

Venkat

In [ ]:
print(office)

{'Repoting': 'Jegan', 'Reconciliation': 'Madhan', 'Api Test': 'Rishi', 'Data': 'Venkat'}

In [ ]:
#UPDATE --> will add the dict2 to dict1 if exists it will updated
office = { "Repoting" : "Jegan",
            "Reconciliation" : "Madhan",
            "Api Test" : "Rishi"}
office3 = {'Data' : 'Venkat', 'Api Test' : 'Bala'}
office.update(office3)
print(office)

{'Repoting': 'Jegan', 'Reconciliation': 'Madhan', 'Api Test': 'Bala', 'Data': 'Venkat'}

In [ ]:
#VALUES --> Will return the list of 'values of whole dictionary
print(office.values())

dict_values(['Jegan', 'Madhan', 'Bala', 'Venkat'])

# **22-03-2025**

# Logical Operators

Types of Logical Operators
1.   AND
2.   OR
3. NOT

In [ ]:
#AND -->This will return Booleon value if both gets success
num = 10
print(num == 10 and num > 8)  #TRUE

True

In [ ]:
#OR -->This will return Booleon value if any one gets success
num = 10
print(num == 10 or num > 20)  #TRUE

True

In [ ]:
#NOT -->if equal 'False' if not equal 'True'
num = 20
print(not num == 20 )  #FALSE

False

OTHER OPERATORS

COMPARISON OPERATORS

    Types of Comparison Operators


*   EQUAL TO
*   NOT EQUAL TO
*   GREATER THAN
*   LESS THAN
*   GREATER THAN EQUAL TO
*  LESS THAN EQUAL TO


BITWISE OPERATORS

    Types of Bitwise Operators
    
1.   AND
2.   OR
3.   XOR
4.   NOT

  
IDENTITY OPERATORS

Types of Identity Operators
*   IS
*   IS NOT


MEMBERSHIP OPERATORS

   Types of Membership Operators

*  IN
*  NOT IN


ASSIGNMENT OPERATORS

  Types of Assignment Operators
1.   =
2.  +=
3.  -=
4.  *=
5.  /=
6.  //=
7.  **=
8.  &=
9.  |=
10   ^=
11.  %=

**Conditional Statements**

IF statement

In [ ]:
# if *some condition == (True)* :
#       *Do something*

In [ ]:
Name = "Sri varshini"
if Name == "Sri varshini" :
 print(f"She is the no. 1 student")  # indentation is needed

She is the no. 1 student

In [ ]:
service = 'finish'

if service == 'finish' :
  print(f"Service is {service} take ur vehicle")

Service is finish take ur vehicle

In [ ]:
PSP = "Xpate"
if PSP == "Stripe":
  print(f"U need to add 1% to PSP Fee")
else :
  print(f"U need to add 0.20 as TRX Fee")

U need to add 0.20 as TRX Fee

IF-Else Statements

In [ ]:
# # if *some condition == (True)* :
#       *Do something*
# else:
#       *Do this*

In [ ]:
PSP = "Xpate"
if PSP == "Stripe":
  print(f"U need to add 1% to PSP Fee")
else :
  print(f"U need to add 0.20 as TRX Fee")

U need to add 0.20 as TRX Fee

In [ ]:
a = 2               # one line if else st
b = 330
print("A") if a > b else print("B")

B

Nested - IF Statements

In [ ]:
# if *condition_1 == (True)* :
#     *Do something for condition_1*

#     if *condition_2 == (True)* :
#         *Do something for condition_2*

#     else:(condition_2 == 'False')
#         *Do this for inside if*

# else:(condition_1 == 'False')
#     *Do this for outside if*

In [ ]:
age = int(input("Enter your age = "))
Driving =  "Good == True"

if age >= 18 :
  print("You are eligible for applying the License")
else :
  if age < 18 :
    print("You are minor")
    if Driving == True :
      print("Your license get sanctioned")
    else :
       print("You are not eligible for applying the License")

Enter your age = 15
You are minor
You are not eligible for applying the License

In [ ]:
bike = "Yamaha"
price = "2.0L"
ride = "ciy"

if bike == "Honda":
  print("commercial vehicle")
  if price == "2.5L":
   print("Go for KTM")
  else :
     print("Choose TVS")
else :
  print("Poda Vendru, olunga needs ah solu")

Poda Vendru, olunga needs ah solu

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

IF-ELIF Statements

In [ ]:
# if *condition_1* == True :
#   *Do something for condition_1*
# elif *condition_2* == True :
#   *Do something for condition_2*
# elif *condition_3* == True :
#   *Do something for condition_3*
# else:(condition_1 & condition_2 & condition_3 == False)
#   *Do something*

In [ ]:
age = int(input("Enter your age = "))
Driving =  True

if age >= 18 :
  print("You are eligible for applying the license")
elif age < 18 :
  print("Your age is not satisfying with our T & C")
else :
  print("You are not eligible for applying the license")

Enter your age = 45
You are eligible for applying the license

In [ ]:
timing = 120
car = "Range Rover"
Driver = True

if timing == 100:
  print("Use Jaguar")
elif car == "Camry":
  print("Lets make a ride")
elif Driver == 1 and car == "Range Rover" and timing == 120 :
  print("Have fun guys")

Have fun guys

In [ ]:
time = 15

if time == 10:
  print("10'o clck")
elif time == 8:
  print("8'o clck")
elif time == 9:
  print("9'o clck")
else:
  print("9'o clck")

9'o clck

In [ ]:
mobile_pin = int(input("enter your mobile pin : "))

mobile_saved_pin = 1234
whatsapp_saved_pin = 4321

if mobile_pin == mobile_saved_pin:
  print("mobile opened")
  whatsapp_pin = int(input("enter your whatsapp pin : "))
  if whatsapp_pin == whatsapp_saved_pin:
    print("whatsapp opened")
  else:
   print("wrong whatsapp pin")
else:
    print("wrong pin")

enter your mobile pin : 1234
mobile opened
enter your whatsapp pin : 4321
whatsapp opened

# **23-03-2025**

# For Loops

**Initialization** - This is where you initialize a counter variable or set initial conditions. It is executed only once at the beginning.

**Condition** - It is a boolean expression that determines whether the loop should continue or not. If the condition is true, the loop continues; otherwise, it terminates.

**Update** - This part is executed after each iteration of the loop and is usually responsible for updating the counter variable or changing conditions. It prepares the loop for the next iteration.

**Syntax**
```
for *initialization* in *condition* :
    *Do something*
    *Update*
```
**TYPES OF FOR LOOP**

        *   Numeric For Loop
        *   Collection based For Loop
        *   Length/Range based For Loop
        *   Loop with conditional statements
        *   Nested For Loop
        *   Dual Looping(zip)
        *   Index Looping(enumerate)

In [ ]:
team_1 = ["Siva", "Ram", "Gopal", "Priya"]  # Sequence
for members in team_1 :            # members = iterator
  print(members)                # save the sequence in iterator and print iterator

Siva
Ram
Gopal
Priya

In [ ]:
name = "Jeganmuthu"
for i  in name :
  print (i)

J
e
g
a
n
m
u
t
h
u

In [ ]:
number = 9698909130   # integers are not itearable
for i in number :
  print (i)

TypeError: 'int' object is not iterable

In [ ]:
# have to collect 5 names using for loop & append the name into a list named "list_of_names"

In [ ]:
list_of_names = ["Jega", "Ram", "Visu", "Dev", "Riya"]
for name in list_of_names:
    print(name)
for letters in name:
    print(letters)

Jega
Ram
Visu
Dev
Riya
R
i
y
a

In [ ]:
list_of_names = ["Jega", "Ram", "Visu", "Dev", "Riya"]

# Loop through each name in the list
for name in list_of_names:  # Use 'list_of_names' as defined
    print(name)  # Print the current name

    # Loop through each letter in the current name
    for letter in name:  # Change 'letters' to 'letter' for clarity
        print(letter)  # Print each letter

Jega
J
e
g
a
Ram
R
a
m
Visu
V
i
s
u
Dev
D
e
v
Riya
R
i
y
a

In [ ]:
list_of_names = ["Jega", "Ram", "Visu", "Dev", "Riya"]
for name in list_of_names:
    print(name)
    for letters in name:
       print(letters)

Jega
J
e
g
a
Ram
R
a
m
Visu
V
i
s
u
Dev
D
e
v
Riya
R
i
y
a

In [ ]:
# if condition in for loop
marks = [95,82,80,25,65,78]
for mark in marks:
  if mark > 90:
    print("S-Grade")
  if mark > 80 and mark <= 90 :
    print("A-Grade")
  if mark > 70 and mark <= 80 :
    print("B-Grade")
  if mark > 60 and mark <= 70 :
    print("C-Grade")
  if mark > 50 and mark <= 60 :
    print("D-Grade")
  if mark <= 50 :
    print("Fail")

S-Grade
A-Grade
B-Grade
Fail
C-Grade
B-Grade

In [ ]:
team_1 = ["Siva", "Ram", "Gopal", "Priya"]
for members in team_1 :
  print(members)
  if members == "Gopal" :
    break              # if the loop reaches the name gopal , it breaks the loop and stop it

Siva
Ram
Gopal

In [ ]:
team_1 = ["Siva", "Ram", "Gopal", "Priya"]
for members in team_1 :
  if members == "Gopal" :
    break       # if the break st lies before the print st when the name gopal reached the loop
  print(members)     # breaks and print the before names

Siva
Ram

In [ ]:
team_1 = ["Siva", "Ram", "Gopal", "Priya"]
for members in team_1 :
  if members == "Gopal" :
    continue                # the loop skips the element and then continue  the rest
  print(members)

Siva
Ram
Priya

In [ ]:
for x in range(8) :
 print(x)

0
1
2
3
4
5
6
7

In [ ]:
for x in range (3,9):
  print(x)

3
4
5
6
7
8

In [ ]:
for num in range(2,20,2) :   # the third parameter represents the number of increment ( by 2)
  print(num)            # default increment is 1 as shown above

2
4
6
8
10
12
14
16
18

In [ ]:
for x in range(3,8):
  if x == 6 :
    break
  print(x)
else :
  print("love")

3
4
5

In [ ]:
num = 10
for x in range(0, num+1) :
 print(x)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
a = ['apple','mango','grape','banana',1,2,4,8]

for i in range(1,len(a)):
  print(i)

1
2
3
4
5
6
7

In [ ]:
for x in range(6):
  if x == 3: break
  print(x)         # the loop breaks at 3,, so before 3 all elements got printed
else:
  print("Finally finished!")

0
1
2

In [ ]:
adj = ["red", "big", "tasty"]                    # nested loops concept
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
# to run or create a empty for loop always put the  "pass" keyword
for x in range(8):
  pass

In [ ]:
name = 5
for i in range(name):
  if name < 9:
    name = name + 1
    print(name)

6
7
8
9

While Loop

In [ ]:
days = 16 # infinite loop
while days < 20 :
  print(days)

Streaming output truncated to the last 5000 lines.
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16
16

KeyboardInterrupt:

In [ ]:
days = 16 # finite loop or conditioned loop
while days < 20:
  print(days)

  days = days + 1

16
17
18
19

In [ ]:
days = 16 # finite loop or conditioned loop
while days < 20:
  days = days + 1
  print(days)

17
18
19
20

In [ ]:
i = 0
while i < 5 :
  print(i)
  if i == 4:
    break
  i = i+1

0
1
2
3
4

In [ ]:
i = 0
while i < 5 :
  i = i+1
  if i == 4:
    continue
  print(i)

1
2
3
5

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [ ]:
#BREAK -->this will break the loop       # Break - It is used to terminate the current loop.
a = ['apple','mango','grape','banana']

for i in a :
  if i =='grape':
    break
print(i)

grape

In [ ]:
Garage = ['Bus', 'Van', 'Car', 'Lorry', 'Bike']

for i in Garage :
  if i == 'Lorry' :
    break
  print(i)

Bus
Van
Car

In [ ]:
Garage = ['Bus', 'Van', 'Car', 'Lorry', 'Bike']

for i in Garage :
  if i == 'Car' :
    break
  print(i)

Bus
Van

In [ ]:
# CONTINUE -->this will continue the loop     # Continue - It is used to skip the current iteration.
Garage = ['Bus', 'Van', 'Car', 'Lorry', 'Bike']

for i in Garage:
  if i == 'Lorry':
    continue
  print(i)

Bus
Van
Car
Bike

In [ ]:
#PASS -->this will pass the loop      #Pass - It is used to skip some errors.
a = ['apple','mango','grape','banana']

for i in a:
  if i == 'jackfruit':
    pass
  print(i)

apple
mango
grape
banana

# **29-03-2025**

In [ ]:
a = int(input("Enter any number = "))
b = int(input("Enter any number = "))
a+b

Enter any number = 56
Enter any number = 87

143

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

P2 = Person("Jega", 25)
print(P2)

<__main__.Person object at 0x7fd298853dd0>
<__main__.Person object at 0x7fd298878210>

In [ ]:
class login:
  Username = " abcdef "
  Pw = "aBc@19 "
  Mobile = 1234567890

Person_1 = login.Username("Jegan")
Person_1

TypeError: 'str' object is not callable

In [ ]:
def rotary() :              # Functions without arguements
  print("Welcome")

rotary()

Welcome

In [ ]:
def add (a=7,b=8):         # Functions with arguements
  c=a+b
  return c
c=add()
print(c)

15

In [ ]:
def total_marks(a,b):
  result = a + b
  return f"Your total is {result}"
a = int(input("Enter ur subject 1 mark : "))
b = int(input("Enter ur subject 2 mark : "))

print(total_marks(a,b))

Enter ur subject 1 mark : 56
Enter ur subject 2 mark : 52
Your total is 108

In [ ]:
def result(a,b):
  c = a+b
  return f'Your total marks is {c}'

x = int(input('enter a number'))
y = int(input('enter a number'))

print(result(x,y))

enter a number23
enter a number23
Your total marks is 46

In [ ]:
def Grade (marks, total_marks = 100):
  return (marks / total_marks)*100

marks = int(input("Enter your marks = "))
print(Grade(marks))

Enter your marks = 85
85.0

In [ ]:
def cgpa (gpa, total_gpa = 10):
  return (gpa / total_gpa)*10
gpa = float(input("Enter your gpa = "))
print(cgpa(gpa))

Enter your gpa = 9.3
9.3

In [ ]:
def cgpa ( total_gpa = 10, gpa):        # #dont give default value in first
  return (gpa / total_gpa)*10
gpa = float(input("Enter your gpa = "))
print(cgpa(gpa))

SyntaxError: non-default argument follows default argument (<ipython-input-6-374e6134e3d8>, line 1)

In [ ]:
def add(*a) :              #Functions with variable length arguments -> tuple
  print(a)

add(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [ ]:
#Functions with variable length arguments -> list
def add(**a):
  print(a)

add(a=1,b=2,v=6)

{'a': 1, 'b': 2, 'v': 6}

In [ ]:
# *args: Collects all the extra positional arguments passed to the function into a tuple.

# **kwargs: Collects all the extra keyword arguments into a dictionary.

def func(*args , **kwargs):
  print("positional args :", args)
  print("keyword args : ", kwargs)

func(1,2,3, p=1,d=2,o=3)

positional args : (1, 2, 3)
keyword args :  {'p': 1, 'd': 2, 'o': 3}

In [ ]:
def log_function_call(func):
    def wrapper(*args, **kwargs):
        print(f"Calling {func.__name__} with:")
        print(f"  Positional args: {args}")
        print(f"  Keyword args: {kwargs}")
        return func(*args, **kwargs)
    return wrapper

@log_function_call
def greet(name, greeting="Hello"):
    print(f"{greeting}, {name}!")

greet("Alice")
greet("Bob", greeting="Hi")

Calling greet with:
  Positional args: ('Alice',)
  Keyword args: {}
Hello, Alice!
Calling greet with:
  Positional args: ('Bob',)
  Keyword args: {'greeting': 'Hi'}
Hi, Bob!

# **05-04-2025**

# 12-04-2025

Data Structures and Algorithm

In [ ]:
# DSA  Very low level of usage in Data Science
# Need to know if we go in software related works, uses in interviews also

In [ ]:
# time complexity
   - Big-O Notation Imp Terminology
# space
     - variable

In [ ]:
#v- pythonn packages and puthon libraries
# Heap Algorithm

In [ ]:
!pip install heapq  # to intall packages in local

In [ ]:
num = [1,43,5,3,3,45,32,22]

In [ ]:
import heapq
heapq.heapify(num)
num

[1, 3, 5, 3, 43, 45, 32, 22]

# **13-04-2025**

In [ ]:
# Binary Tree

# **19-04-2025**

## SQL - Databases

In [ ]:
# Dataset - Collection of information
# Data structure to store the data
Mostly used   * List
              * Dictionary

In [ ]:
Structured data / Tabular Data
Files we are going to used
# Excel files  .xlsx  20%
# csv files   .csv    80%

#=====================================

Unstructured data / Semi structured data / Non tabular Data
# Jva Scriot object notation   -->  .json data

In [ ]:
# pandas  =  python data analysis library
one of the top most popular library --  more flexibility

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas

In [ ]:
# reading a csv file
data = pandas.read_csv("/content/sample_data/california_housing_test.csv")

In [ ]:
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
# also we can use to call pandas as we want, stdly as "pd"
import pandas as pd

In [ ]:
#reading a csv file
data = pd.read_csv("/content/sample_data/california_housing_test.csv")

In [ ]:
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
print("hello\nwelcome")

hello
welcome

# Login System - coding

In [ ]:
Customer_details = open("Customer_details.txt","w")

In [ ]:
name = input("Enter your name = ")
email = input("Enter your email = ")
phone = int(input("Enter your phone = "))

def add_customer(name, email, phone):
  with open("Customer_details.txt", "a") as file :
    file.write("f{name}, {email}, {phone}")
    print("Customer added successfully")

add_customer

Enter your name = Jegan
Enter your email = jegan@
Enter your phone = 96956

In [ ]:
import re
import datetime

customer_name = input("Enter your name : ")
customer_mail = input("Enter your email : ")
customer_phone = int(input("Enter your mobile_no. : "))

Enter your name : Jeganmuthu M
Enter your email : jeganmuthu888@gmail.com
Enter your mobile_no. : 9698909130

In [ ]:
import re
import os
from datetime import datetime

USER_FILE = "users.txt"

# Helper Functions
def validate_name(name):
    return name.isalpha()

def validate_dob(dob):
    return re.match(r"\d{2}-\d{2}-\d{4}$", dob)

def validate_phone(phone):
    return re.match(r"\d{10}$", phone)

def validate_email(email):
    return re.match(r"^[\w\.-]+@[\w\.-]+\.\w+$", email)

def validate_password(password):
    return (len(password) >= 8 and
            re.search(r"[A-Z]", password) and
            re.search(r"[a-z]", password) and
            re.search(r"\d", password) and
            re.search(r"[!@#$%^&*(),.?\":{}|<>]", password))

def get_next_user_id():
    if not os.path.exists(USER_FILE):
        return 101
    with open(USER_FILE, "r") as f:
        lines = f.readlines()
        if not lines:
            return 101
        last_id = int(lines[-1].split('|')[0])
        return last_id + 1

def find_user_by_id(user_id):
    if not os.path.exists(USER_FILE):
        return None
    with open(USER_FILE, "r") as f:
        for line in f:
            if line.startswith(str(user_id) + "|"):
                return line.strip().split("|")
    return None

def find_user_by_email(email):
    if not os.path.exists(USER_FILE):
        return None
    with open(USER_FILE, "r") as f:
        for line in f:
            parts = line.strip().split("|")
            if parts[4] == email:
                return parts
    return None

def update_user_password(user_id, new_password):
    lines = []
    with open(USER_FILE, "r") as f:
        lines = f.readlines()
    with open(USER_FILE, "w") as f:
        for line in lines:
            parts = line.strip().split("|")
            if parts[0] == user_id:
                parts[5] = new_password
                f.write("|".join(parts) + "\n")
            else:
                f.write(line)

# Core Features
def sign_up():
    name = input("Enter your name: ")
    if not validate_name(name):
        print("Invalid name.")
        return

    dob = input("Enter your DOB (DD-MM-YYYY): ")
    if not validate_dob(dob):
        print("Invalid date format.")
        return

    phone = input("Enter your phone number: ")
    if not validate_phone(phone):
        print("Invalid phone number.")
        return

    email = input("Enter your email ID: ")
    if not validate_email(email):
        print("Invalid email format.")
        return

    password = input("Enter password: ")
    if not validate_password(password):
        print("Password must contain 8 characters with uppercase, lowercase, number, and special character.")
        return

    confirm_password = input("Confirm password: ")
    if password != confirm_password:
        print("Passwords do not match.")
        return

    user_id = get_next_user_id()
    with open(USER_FILE, "a") as f:
        f.write(f"{user_id}|{name}|{dob}|{phone}|{email}|{password}\n")
    print(f"Registered successfully! Your User ID is {user_id}")

def login():
    user_id = input("Enter User ID: ")
    password = input("Enter Password: ")
    user = find_user_by_id(user_id)
    if user and user[5] == password:
        print(f"Welcome {user[1]}! Last login: {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}")
    else:
        print("Invalid credentials.")

def forgot_password():
    email = input("Enter your registered email ID: ")
    user = find_user_by_email(email)
    if user:
        print(f"Your password is: {user[5]}")
    else:
        print("Email not found.")

def update_password():
    user_id = input("Enter your User ID: ")
    old_password = input("Enter your current password: ")
    user = find_user_by_id(user_id)
    if user and user[5] == old_password:
        new_password = input("Enter new password: ")
        if not validate_password(new_password):
            print("Password does not meet criteria.")
            return
        confirm_password = input("Confirm new password: ")
        if new_password != confirm_password:
            print("Passwords do not match.")
            return
        update_user_password(user_id, new_password)
        print("Password updated successfully.")
    else:
        print("Invalid credentials.")

# Menu
def main():
    while True:
        print("\n--- LOGIN SYSTEM MENU ---")
        print("1. Sign Up")
        print("2. Login")
        print("3. Forgot Password")
        print("4. Update Password")
        print("5. Exit")
        choice = input("Choose an option: ")
        if choice == "1":
            sign_up()
        elif choice == "2":
            login()
        elif choice == "3":
            forgot_password()
        elif choice == "4":
            update_password()
        elif choice == "5":
            print("Goodbye!")
            break
        else:
            print("Invalid option. Try again.")

if __name__ == "__main__":
    main()

--- LOGIN SYSTEM MENU ---
1. Sign Up
2. Login
3. Forgot Password
4. Update Password
5. Exit
Choose an option: 1
Enter your name: Jeganmuthu M
Invalid name.

--- LOGIN SYSTEM MENU ---
1. Sign Up
2. Login
3. Forgot Password
4. Update Password
5. Exit
Choose an option: 2
Enter User ID: Jegan@19
Enter Password: Jegan@8599
Invalid credentials.

--- LOGIN SYSTEM MENU ---
1. Sign Up
2. Login
3. Forgot Password
4. Update Password
5. Exit

KeyboardInterrupt: Interrupted by user